#movies{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
input{
    border-radius: 20px;
    padding: 3px 7px;
}
#movies>div>img{
    width: 80%;
    border-radius: 20px;
}
button{
    background-color: rgb(32, 122, 92);
    color: aliceblue;
    border: 0px transparent;
    border-radius: 20px;
    padding: 3px 20px;
}
#add-money{
    text-align: center;
}
#navbar{
    display: flex;
    padding: 0px 30px;
    margin:-10px;
    margin-bottom:30px;
    justify-content: space-between;
    background-color: rgb(6, 6, 80);
    color: white;
}
#user-detail{
    text-align: right;
    margin: 40px;
}