.body{
    display: flex;
    background-color: antiquewhite;
}
.list{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: space-around;

}
img{
    width: 80%;
}